<% provide :title, t(".title3") %>
<title><%= yield :title %></title>
<p>
  <%= link_to t(".link4"), "http://www.railstutorial.org/" %><em><%= t ".content1" %></em></a> 
  <%= link_to t(".link5"), "http://www.railstutorial.org/book" %><%= t ".content2" %></a> 
  <br>
  <%= link_to t(".link6"), "http://screencasts.railstutorial.org/" %><%= t ".content3" %></a>
  <%= t ".content4" %>
  <br>
  <%= link_to t(".link7"), "http://rubyonrails.org/" %>Ruby on Rails</a>.
  <%= t ".content5" %>
</p>
	
