<% provide :title, t(".title") %>
<title><%= yield :title %></title>
<p>
  <%= link_to t(".link_bassic"), "http://www.railstutorial.org/" %><em><%= t ".content_bassic" %></em></a> 
  <%= link_to t(".link_book"), "http://www.railstutorial.org/book" %><%= t ".content_book" %></a> 
  <br>
  <%= link_to t(".link_screen"), "http://screencasts.railstutorial.org/" %><%= t ".content_screen" %></a>
  <%= t ".content_teach" %>
  <br>
  <%= link_to t(".link_rails"), "http://rubyonrails.org/" %>Ruby on Rails</a>.
  <%= t ".content_rails" %>
</p>
	
