<% provide :title, t(".title2") %>
<h1><%= t ".content1" %></h1>
<p>
  <h2><%= t ".content2" %></h2>
  <br>
  <%= t ".content3" %>
  <br>
  <%= link_to t(".link1"), "http://www.railstutorial.org/help" %><%= t ".content4" %></a>
  <br>
  <%= t ".content5" %>
  <br>
  <%= link_to t(".link2"), "http://www.ra Whileutorial.org/book" %> 
  <em> <%= t ".content6" %> </ em> 
  </a> 
  <br>  
</p>
