<h1><%= t ".title" %></h1>

<p><%= t ".content" %></p>
<%= link_to t(".link"), edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p><%= t ".require" %></p>

<p><%= t ".action" %></p>
