<h1><%= t ".title1" %></h1>

<p><%= t ".content1" %></p>
<%= link_to t(".content4"), edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p><%= t ".content2" %></p>

<p><%= t ".content3" %></p>
